<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
</head>
<body>
	<div class="container">
		<form action="">
			<div class="row">
				<h2 style="text-align:center">Login to your account</h2>
				<div class="vl">
					<span class="vl-innertext">or</span>
				</div>
				<div class="col">
					<a th:href="@{/customers}" class="login btn">Login With Keycloak</a>
				</div>
				<div class="col">
					<div class="hide-md-lg">
						<p>Or Sign Manual:</p>
					</div>
					<label>Email Address</label>
					<input type="text" name="username" required>
					<label>Password</label>
					<input type="password" name="password" required>
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</div>
		</form>
		</div>
		<div id="pagefoot" th:include="layout :: footerFragment">Footer
		</div>

	<!-- container -->

</body>
</html>
